#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2

depend() {
	need localmount
	use logger
}

start() {
	if [[ ${ATIPOWER_OPTS} == "" ]]; then
		eerror "Please choose which powerstate you'd like to have set on startup and modify /etc/conf.d/atipower!"
		/usr/bin/atipower
	elif [[ ${ATIPOWER_OPTS} != "" ]]; then
		ebegin "Starting atipower"
		/usr/bin/atipower ${ATIPOWER_OPTS}
		eend $?
	fi
}

stop() {
	ebegin "Stopping atipower"
	start-stop-daemon --stop --exec /usr/bin/atipower
	eend $?
}
